In [5]:
import pandas as pd
import numpy as np 
import sys
import re
sys.path.insert(0, "modules")

import numpy as np
import pandas as pd

import plotly.express as px

import matplotlib.pyplot as plt   

import plotly.graph_objs as go
from plotly.subplots import make_subplots

In [6]:
df_data=pd.read_csv('../data/raw/dataset.csv')

df_data

,ISIN,BI350,BI493,EG056,EG057,ES018,ES019,ES096,F1754,F1769,...,SR231,SR249,ST024,SR752,SR754,SR756,SR760,SR724,SR721,Year
0,CNE100004ZD8,0.0,NaN,25.644,2.219,NaN,NaN,9.090910,NaN,NaN,...,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,2023
1,US00108J1097,0.0,NaN,120.409,47.224,NaN,NaN,NaN,10.0,NaN,...,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,2023
2,US0079031078,0.0,NaN,385.733,37.010,NaN,NaN,33.333302,30.0,NaN,...,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,2023
3,TW0003438008,0.0,NaN,33.397,7.594,NaN,NaN,42.857101,70.0,NaN,...,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,2023
4,CNE100003MM9,0.0,100,64.797,4.375,NaN,0.023,0.000000,60.0,NaN,...,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,US0395872098,0.0,NaN,1353.663,486.827,NaN,NaN,14.285700,0.0,NaN,...,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,2023
344,US54405Q2093,0.0,NaN,1754.480,80.799,NaN,NaN,NaN,0.0,NaN,...,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,2023
345,US3073597037,0.0,NaN,160.608,0.829,NaN,NaN,NaN,NaN,NaN,...,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,2023
346,CA35954F1080,0.0,NaN,NaN,597.368,NaN,NaN,NaN,NaN,NaN,...,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,2023
347,SGXZ55111462,0.0,#N/A Field Not Applicable,841.577,39.851,NaN,NaN,NaN,NaN,NaN,...,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,#N/A Field Not Applicable,2023

In [7]:
df_data.replace("#N/A Field Not Applicable", np.nan, inplace=True)
df_data.replace("#N/A Authorization", np.nan, inplace=True)

C:\Users\Veronica\AppData\Local\Temp\ipykernel_53560\1358017280.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_data.replace("#N/A Field Not Applicable", np.nan, inplace=True)

In [8]:
df_data[df_data.isnull().any(axis=1)]

,ISIN,BI350,BI493,EG056,EG057,ES018,ES019,ES096,F1754,F1769,...,SR231,SR249,ST024,SR752,SR754,SR756,SR760,SR724,SR721,Year
0,CNE100004ZD8,0.0,NaN,25.644,2.219,NaN,NaN,9.090910,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
1,US00108J1097,0.0,NaN,120.409,47.224,NaN,NaN,NaN,10.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
2,US0079031078,0.0,NaN,385.733,37.010,NaN,NaN,33.333302,30.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
3,TW0003438008,0.0,NaN,33.397,7.594,NaN,NaN,42.857101,70.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
4,CNE100003MM9,0.0,100,64.797,4.375,NaN,0.023,0.000000,60.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,US0395872098,0.0,NaN,1353.663,486.827,NaN,NaN,14.285700,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
344,US54405Q2093,0.0,NaN,1754.480,80.799,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
345,US3073597037,0.0,NaN,160.608,0.829,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
346,CA35954F1080,0.0,NaN,NaN,597.368,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
347,SGXZ55111462,0.0,NaN,841.577,39.851,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023

In [9]:
df_fields=pd.read_csv('../data/raw/fields.csv')

df_fields

,ID,FIELD MNEMONIC,FIELD DESCRIPTION,FIELD DEFINITION,UNITS,FREQUENCY,PILLAR,THEME,HISTORY,Created,YEAR,Dashboard
0,BI309,EU_TAX_EST_SC_REV_PCT,EU Taxonomy Estimated SC Revenue Percent,Estimated percentage of total revenue/turnover...,Percentage,Annual,Environmental,N.A.,From 2019,45403,current,N.A.
1,BI310,EU_TAX_EST_SC_REV_AMT,EU Taxonomy Estimated SC Revenue Amount,Estimated amount of revenue/turnover generated...,Million Reporting Currency,Annual,Environmental,N.A.,From 2019,45403,current,N.A.
2,BI311,EU_TAX_EST_ELIGIBLE_REV_PCT,EU Taxonomy Estimated Eligible Revenue Percent,Provides the percentage of total revenue gener...,Percentage,Annual,Environmental,N.A.,From 2019,45312,current,N.A.
3,BI312,EU_TAX_EST_ELIGIBLE_REV_AMT,EU Taxonomy Estimated Eligible Revenue Amount,Provides the amount of revenue/turnover genera...,Million Reporting Currency,Annual,Environmental,N.A.,From 2019,45312,current,N.A.
4,BI313,EU_TAX_EST_SC_ADP_REV_PCT,EU Taxonomy Estimated SC Adaptation Rev Pct,Estimated percentage of total revenue/turnover...,Percentage,Annual,Environmental,Climate Change,From 2019,45617,current,N.A.
...,...,...,...,...,...,...,...,...,...,...,...,...
3656,SR08420,AUDIT_THEME_SCORE,BESG Audit Theme Score,Provides the Bloomberg score evaluating the co...,Score,Ad hoc,Governance,Audit & Oversight,From 2015,44835,2020,G Score
3657,SR08421,AUDIT_THEME_SCORE,BESG Audit Theme Score,Provides the Bloomberg score evaluating the co...,Score,Ad hoc,Governance,Audit & Oversight,From 2015,44835,2021,G Score
3658,SR08422,AUDIT_THEME_SCORE,BESG Audit Theme Score,Provides the Bloomberg score evaluating the co...,Score,Ad hoc,Governance,Audit & Oversight,From 2015,44835,2022,G Score
3659,SR08423,AUDIT_THEME_SCORE,BESG Audit Theme Score,Provides the Bloomberg score evaluating the co...,Score,Ad hoc,Governance,Audit & Oversight,From 2015,44835,2023,G Score
3660,IS010,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,Sales

In [10]:
def actualizar_valores(df1, df2):
    # Crear un diccionario para facilitar la búsqueda
    columna_a_buscar = df2.iloc[:, 0]  # Primera columna de la segunda tabla
    ultima_columna = df2.iloc[:, -1]  # Última columna de la segunda tabla
    
    # Recorrer las columnas de la primera tabla
    for columna in df1.columns[1:]:  # Excluir la primera columna (ISIN)
        if columna in columna_a_buscar.values:
            # Obtener el índice de la coincidencia en la segunda tabla
            indice = columna_a_buscar[columna_a_buscar == columna].index[0]
            if ultima_columna[indice] in ['SFDR', 'Scope','Scope/SFDR', 'Net zero', 'posible']:
                # Actualizar los valores en la primera tabla a 'No data'
                df1[columna] = df1[columna].where(df1[columna].notna(), 'No data')
            elif ultima_columna[indice] in ['ESG Score', 'E Score', 'S Score', 'G Score', 'Sales']:
                # Actualizar los valores en la primera tabla a 0
                df1[columna] = df1[columna].where(df1[columna].notna(), 0)
    
    return df1
# Actualizar los valores en la primera tabla
df_data = actualizar_valores(df_data, df_fields)

In [11]:
df_data

,ISIN,BI350,BI493,EG056,EG057,ES018,ES019,ES096,F1754,F1769,...,SR231,SR249,ST024,SR752,SR754,SR756,SR760,SR724,SR721,Year
0,CNE100004ZD8,0.0,No data,25.644,2.219,No data,No data,9.09091,No data,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
1,US00108J1097,0.0,No data,120.409,47.224,No data,No data,No data,10.0,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
2,US0079031078,0.0,No data,385.733,37.01,No data,No data,33.333302,30.0,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
3,TW0003438008,0.0,No data,33.397,7.594,No data,No data,42.857101,70.0,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
4,CNE100003MM9,0.0,100,64.797,4.375,No data,0.023,0.0,60.0,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,US0395872098,0.0,No data,1353.663,486.827,No data,No data,14.2857,0.0,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
344,US54405Q2093,0.0,No data,1754.48,80.799,No data,No data,No data,0.0,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
345,US3073597037,0.0,No data,160.608,0.829,No data,No data,No data,No data,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
346,CA35954F1080,0.0,No data,No data,597.368,No data,No data,No data,No data,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
347,SGXZ55111462,0.0,No data,841.577,39.851,No data,No data,No data,No data,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023

In [12]:
df_data[df_data.isnull().any(axis=1)]

Empty DataFrame
Columns: [ISIN, BI350, BI493, EG056, EG057, ES018, ES019, ES096, F1754, F1769, RX262, ES643, IS010, EG017, EG018, EG030, SR001, SR002, SR003, SR004, SR205, SR217, SR238, SR200, SR211, SR711, SR731, SR727, SR718, SR715, SR005, SR035, SR064, SR084, BI588, BI589, BI590, SR208, SR235, SR231, SR249, ST024, SR752, SR754, SR756, SR760, SR724, SR721, Year]
Index: []

[0 rows x 49 columns]

In [13]:
df_company=pd.read_csv('../data/raw/companies.csv')

df_company

,ISIN,Name,Member Ticker,Mkt Cap,Industry
0,CNE100004ZD8,ACM RESEARCH S-A,688082 CH Equity,"4,885,443,926.00",Semiconductors
1,US00108J1097,ACM RESEARCH-A,ACMR US Equity,"1,474,910,952.00",Semiconductors
2,US0079031078,ADV MICRO DEVICE,AMD US Equity,"241,546,435,400.00",Semiconductors
3,TW0003438008,ADVANCED ANALOG,3438 TT Equity,"98,788,154.60",Semiconductors
4,CNE100003MM9,ADVANCED MICRO-A,688012 CH Equity,"11,573,338,720.00",Semiconductors
...,...,...,...,...,...
343,US0395872098,ARCIMOTO INC,FUVV US Equity,"1,172,755.33",Automobiles
344,US54405Q2093,NU RIDE INC,NRDE US Equity,"24,087,261.50",Automobiles
345,US3073597037,FARADAY FUTURE I,FFIE US Equity,"167,343,808.45",Automobiles
346,CA35954F1080,FUELPOSITIVE COR,NHHH CN Equity,"19,271,698.47",Automobiles
347,SGXZ55111462,VINFAST AUTO LTD,VFS US Equity,"9,424,055,368.50",Automobiles

In [14]:
merged_df = pd.merge(df_data, df_company[['ISIN', 'Name', 'Industry', 'Mkt Cap']], on='ISIN', how='left')
merged_df

,ISIN,BI350,BI493,EG056,EG057,ES018,ES019,ES096,F1754,F1769,...,SR752,SR754,SR756,SR760,SR724,SR721,Year,Name,Industry,Mkt Cap
0,CNE100004ZD8,0.0,No data,25.644,2.219,No data,No data,9.09091,No data,No data,...,0,0.0,0.0,0.0,0,0.0,2023,ACM RESEARCH S-A,Semiconductors,"4,885,443,926.00"
1,US00108J1097,0.0,No data,120.409,47.224,No data,No data,No data,10.0,No data,...,0,0.0,0.0,0.0,0,0.0,2023,ACM RESEARCH-A,Semiconductors,"1,474,910,952.00"
2,US0079031078,0.0,No data,385.733,37.01,No data,No data,33.333302,30.0,No data,...,0,0.0,0.0,0.0,0,0.0,2023,ADV MICRO DEVICE,Semiconductors,"241,546,435,400.00"
3,TW0003438008,0.0,No data,33.397,7.594,No data,No data,42.857101,70.0,No data,...,0,0.0,0.0,0.0,0,0.0,2023,ADVANCED ANALOG,Semiconductors,"98,788,154.60"
4,CNE100003MM9,0.0,100,64.797,4.375,No data,0.023,0.0,60.0,No data,...,0,0.0,0.0,0.0,0,0.0,2023,ADVANCED MICRO-A,Semiconductors,"11,573,338,720.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,US0395872098,0.0,No data,1353.663,486.827,No data,No data,14.2857,0.0,No data,...,0,0.0,0.0,0.0,0,0.0,2023,ARCIMOTO INC,Automobiles,"1,172,755.33"
344,US54405Q2093,0.0,No data,1754.48,80.799,No data,No data,No data,0.0,No data,...,0,0.0,0.0,0.0,0,0.0,2023,NU RIDE INC,Automobiles,"24,087,261.50"
345,US3073597037,0.0,No data,160.608,0.829,No data,No data,No data,No data,No data,...,0,0.0,0.0,0.0,0,0.0,2023,FARADAY FUTURE I,Automobiles,"167,343,808.45"
346,CA35954F1080,0.0,No data,No data,597.368,No data,No data,No data,No data,No data,...,0,0.0,0.0,0.0,0,0.0,2023,FUELPOSITIVE COR,Automobiles,"19,271,698.47"
347,SGXZ55111462,0.0,No data,841.577,39.851,No data,No data,No data,No data,No data,...,0,0.0,0.0,0.0,0,0.0,2023,VINFAST AUTO LTD,Automobiles,"9,424,055,368.50"

In [15]:
columns_df1 = df_data.columns.tolist()
new_columns_order = columns_df1[:1] +['Name'] +['Mkt Cap']+['Industry'] + columns_df1[1:]
merged_df = merged_df[new_columns_order]
merged_df

,ISIN,Name,Mkt Cap,Industry,BI350,BI493,EG056,EG057,ES018,ES019,...,SR231,SR249,ST024,SR752,SR754,SR756,SR760,SR724,SR721,Year
0,CNE100004ZD8,ACM RESEARCH S-A,"4,885,443,926.00",Semiconductors,0.0,No data,25.644,2.219,No data,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
1,US00108J1097,ACM RESEARCH-A,"1,474,910,952.00",Semiconductors,0.0,No data,120.409,47.224,No data,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
2,US0079031078,ADV MICRO DEVICE,"241,546,435,400.00",Semiconductors,0.0,No data,385.733,37.01,No data,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
3,TW0003438008,ADVANCED ANALOG,"98,788,154.60",Semiconductors,0.0,No data,33.397,7.594,No data,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
4,CNE100003MM9,ADVANCED MICRO-A,"11,573,338,720.00",Semiconductors,0.0,100,64.797,4.375,No data,0.023,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,US0395872098,ARCIMOTO INC,"1,172,755.33",Automobiles,0.0,No data,1353.663,486.827,No data,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
344,US54405Q2093,NU RIDE INC,"24,087,261.50",Automobiles,0.0,No data,1754.48,80.799,No data,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
345,US3073597037,FARADAY FUTURE I,"167,343,808.45",Automobiles,0.0,No data,160.608,0.829,No data,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
346,CA35954F1080,FUELPOSITIVE COR,"19,271,698.47",Automobiles,0.0,No data,No data,597.368,No data,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023
347,SGXZ55111462,VINFAST AUTO LTD,"9,424,055,368.50",Automobiles,0.0,No data,841.577,39.851,No data,No data,...,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,2023

In [16]:
merged_df.to_csv('../data/merged_data.csv', index=False)