In [8]:
import pandas as pd
import numpy as np 
ESG=pd.read_csv('../data/ESG_Score.csv')
hist_scope=pd.read_csv('../data/raw/hist_scope.csv')
hist_score=pd.read_csv('../data/raw/hist_score.csv')
merged_data=pd.read_csv('../data/merged_data.csv')

In [9]:
hist_score

              ISIN  Year        SR001        SR002        SR003        SR004
0     US0079031078  2018  6.070000172  6.841240406  4.237225056  7.072086811
1     US0326541051  2018   4.53000021  4.951658726  2.288488626  6.702093601
2     US0382221051  2018  6.900000095  6.190028667  6.683382988  8.140346527
3     US11135F1012  2018  2.029999971            0  1.427484035  7.473958492
4     US29355A1079  2018  3.069999933  0.130537882  6.115842342  5.971273899
...            ...   ...          ...          ...          ...          ...
2755  NO0012916131  2022  4.289999962  3.886998653  3.282665968  6.275254726
2756  US00676P1075  2022  2.319999933  1.005077362  0.694761693  7.550665379
2757  IT0005433740  2022  1.970000029   3.68501997   0.79768002  2.197473764
2758  CNE0000001Y0  2022  1.149999976            0            0  5.533856392
2759  SGXZ19450089  2022  1.159999967            0            0   5.60840416

[2760 rows x 6 columns]

In [10]:
hist_score.rename(columns={"Isin": "ISIN"}, inplace=True)
hist_score

              ISIN  Year        SR001        SR002        SR003        SR004
0     US0079031078  2018  6.070000172  6.841240406  4.237225056  7.072086811
1     US0326541051  2018   4.53000021  4.951658726  2.288488626  6.702093601
2     US0382221051  2018  6.900000095  6.190028667  6.683382988  8.140346527
3     US11135F1012  2018  2.029999971            0  1.427484035  7.473958492
4     US29355A1079  2018  3.069999933  0.130537882  6.115842342  5.971273899
...            ...   ...          ...          ...          ...          ...
2755  NO0012916131  2022  4.289999962  3.886998653  3.282665968  6.275254726
2756  US00676P1075  2022  2.319999933  1.005077362  0.694761693  7.550665379
2757  IT0005433740  2022  1.970000029   3.68501997   0.79768002  2.197473764
2758  CNE0000001Y0  2022  1.149999976            0            0  5.533856392
2759  SGXZ19450089  2022  1.159999967            0            0   5.60840416

[2760 rows x 6 columns]

In [11]:
hist_score = hist_score.replace(['#N/A', '#N/A Field Not Applicable'], np.nan)
numeric_columns = ['SR001', 'SR002', 'SR003', 'SR004']
hist_score[numeric_columns] = hist_score[numeric_columns].astype(float)
hist_score

              ISIN  Year  SR001     SR002     SR003     SR004
0     US0079031078  2018   6.07  6.841240  4.237225  7.072087
1     US0326541051  2018   4.53  4.951659  2.288489  6.702094
2     US0382221051  2018   6.90  6.190029  6.683383  8.140347
3     US11135F1012  2018   2.03  0.000000  1.427484  7.473958
4     US29355A1079  2018   3.07  0.130538  6.115842  5.971274
...            ...   ...    ...       ...       ...       ...
2755  NO0012916131  2022   4.29  3.886999  3.282666  6.275255
2756  US00676P1075  2022   2.32  1.005077  0.694762  7.550665
2757  IT0005433740  2022   1.97  3.685020  0.797680  2.197474
2758  CNE0000001Y0  2022   1.15  0.000000  0.000000  5.533856
2759  SGXZ19450089  2022   1.16  0.000000  0.000000  5.608404

[2760 rows x 6 columns]

In [12]:
new_rows = []
for index, row in ESG.iterrows():
    isin = row['ISIN']
    esg_score = row['ESG SCORE']
    env_score = row['ENVIRONMENTAL SCORE']
    social_score = row['SOCIAL SCORE']
    governance_score = row['GOVERNANCE SCORE']
    
    new_row = {
        'ISIN': isin,
        'Year': 2023,
        'SR001': esg_score,
        'SR002': env_score,
        'SR003': social_score,
        'SR004': governance_score
    }
    new_rows.append(new_row)

new_rows_df = pd.DataFrame(new_rows)
hist_score = pd.concat([hist_score, new_rows_df], ignore_index=True)
hist_score

              ISIN  Year     SR001     SR002     SR003     SR004
0     US0079031078  2018  6.070000  6.841240  4.237225  7.072087
1     US0326541051  2018  4.530000  4.951659  2.288489  6.702094
2     US0382221051  2018  6.900000  6.190029  6.683383  8.140347
3     US11135F1012  2018  2.030000  0.000000  1.427484  7.473958
4     US29355A1079  2018  3.070000  0.130538  6.115842  5.971274
...            ...   ...       ...       ...       ...       ...
3307  NO0012916131  2023  4.884967  4.932675  3.435348  6.270973
3308  US00676P1075  2023  3.009972  1.260000  0.752634  7.600606
3309  IT0005433740  2023  2.894523  4.619199  1.023712  2.465766
3310  CNE0000001Y0  2023  1.717311  0.000000  0.000000  5.724370
3311  SGXZ19450089  2023  1.835741  0.000000  0.152532  5.966604

[3312 rows x 6 columns]

In [16]:

hist_2021 = hist_score[hist_score['Year'] == 2021]

combined = pd.merge(hist_2021[['ISIN', 'SR001', 'SR002', 'SR003', 'SR004']], 
                    ESG[['ISIN', 'ESG SCORE', 'ENVIRONMENTAL SCORE', 'SOCIAL SCORE', 'GOVERNANCE SCORE']], 
                    left_on='ISIN', right_on='ISIN', how='left')

combined['Trend_ESG_SR001'] = combined['ESG SCORE'] - combined['SR001']
combined['Trend_ENV_SR002'] = combined['ENVIRONMENTAL SCORE'] - combined['SR002']
combined['Trend_SOC_SR003'] = combined['SOCIAL SCORE'] - combined['SR003']
combined['Trend_GOV_SR004'] = combined['GOVERNANCE SCORE'] - combined['SR004']

historical_score = pd.merge(hist_score, combined[['ISIN', 'Trend_ESG_SR001', 'Trend_ENV_SR002', 'Trend_SOC_SR003', 'Trend_GOV_SR004']], on='ISIN', how='left')

historical_score

,ISIN,Year,SR001,SR002,SR003,SR004,Trend_ESG_SR001,Trend_ENV_SR002,Trend_SOC_SR003,Trend_GOV_SR004
0,US0079031078,2018,6.070000,6.841240,4.237225,7.072087,0.190441,0.230901,0.417430,-0.192367
1,US0326541051,2018,4.530000,4.951659,2.288489,6.702094,0.866660,1.043274,0.214858,0.810937
2,US0382221051,2018,6.900000,6.190029,6.683383,8.140347,0.656745,0.230856,1.174702,0.244051
3,US11135F1012,2018,2.030000,0.000000,1.427484,7.473958,0.660284,1.069467,0.703850,-0.617206
4,US29355A1079,2018,3.070000,0.130538,6.115842,5.971274,-0.749523,0.814302,-4.199872,0.463123
...,...,...,...,...,...,...,...,...,...,...
3307,NO0012916131,2023,4.884967,4.932675,3.435348,6.270973,0.914967,1.743519,0.297694,0.141069
3308,US00676P1075,2023,3.009972,1.260000,0.752634,7.600606,0.629972,0.254923,0.057872,-0.245758
3309,IT0005433740,2023,2.894523,4.619199,1.023712,2.465766,0.764523,0.803481,0.004565,0.191609
3310,CNE0000001Y0,2023,1.717311,0.000000,0.000000,5.724370,0.497311,0.000000,0.000000,-0.205604
3311,SGXZ19450089,2023,1.835741,0.000000,0.152532,5.966604,NaN,NaN,NaN,NaN

In [17]:
hist_scope = hist_scope.replace(['#N/A', '#N/A Field Not Applicable'], np.nan)
numeric_columns = ['EG017', 'EG018', 'EG030', 'IS010']
hist_scope[numeric_columns] = hist_scope[numeric_columns].astype(float)
hist_scope

              Isin  Year    EG017    EG018    EG030        IS010
0     US0079031078  2010   26.628  140.384  286.840  6494.000000
1     US0326541051  2010   34.933   96.687   14.211  2761.503000
2     US0382221051  2010   42.172  133.960   36.863  9549.000000
3     US11135F1012  2010  110.810  156.699   10.771  2093.000000
4     US29355A1079  2010    0.005    9.199   14.247    61.661000
...            ...   ...      ...      ...      ...          ...
7723  NO0012916131  2023    0.016    0.066    9.068  1089.491000
7724  US00676P1075  2023    8.514    3.846    2.522   388.788000
7725  IT0005433740  2023    1.665    1.107    0.909    91.023833
7726  CNE0000001Y0  2023    7.336    6.103    2.842  2858.122182
7727  SGXZ19450089  2023    3.973    7.156    1.401  3507.067000

[7728 rows x 6 columns]

In [18]:
hist_scope=pd.merge(hist_scope, merged_data[['ISIN', 'Industry']], left_on='Isin', right_on='ISIN', how='left')

In [19]:
hist_scope

,Isin,Year,EG017,EG018,EG030,IS010,ISIN,Industry
0,US0079031078,2010,26.628,140.384,286.840,6494.000000,US0079031078,Semiconductors
1,US0326541051,2010,34.933,96.687,14.211,2761.503000,US0326541051,Semiconductors
2,US0382221051,2010,42.172,133.960,36.863,9549.000000,US0382221051,Semiconductors
3,US11135F1012,2010,110.810,156.699,10.771,2093.000000,US11135F1012,Semiconductors
4,US29355A1079,2010,0.005,9.199,14.247,61.661000,US29355A1079,Semiconductors
...,...,...,...,...,...,...,...,...
7723,NO0012916131,2023,0.016,0.066,9.068,1089.491000,NO0012916131,Software and Tech Services
7724,US00676P1075,2023,8.514,3.846,2.522,388.788000,US00676P1075,Software and Tech Services
7725,IT0005433740,2023,1.665,1.107,0.909,91.023833,IT0005433740,Software and Tech Services
7726,CNE0000001Y0,2023,7.336,6.103,2.842,2858.122182,CNE0000001Y0,Software and Tech Services
7727,SGXZ19450089,2023,3.973,7.156,1.401,3507.067000,SGXZ19450089,Software and Tech Services

In [20]:
hist_scope['Sum_EG'] = (hist_scope['EG017'] + hist_scope['EG018'])/hist_scope['IS010']*1000


# Calcular los percentiles 25, 50 y 75 por Industry y Year
percentiles = hist_scope.groupby(['Industry', 'Year'])['Sum_EG'].quantile([0.25, 0.5, 0.75]).unstack()

# Renombrar las columnas de percentiles
percentiles.columns = [f'Sum_EG_{int(pct*100)}' for pct in percentiles.columns]

# Resetear el Ã­ndice para poder hacer el merge
percentiles = percentiles.reset_index()

# Hacer el merge de los percentiles con el DataFrame original
hist_scope = hist_scope.merge(percentiles, on=['Industry', 'Year'], how='left')

In [21]:
hist_scope

,Isin,Year,EG017,EG018,EG030,IS010,ISIN,Industry,Sum_EG,Sum_EG_25,Sum_EG_50,Sum_EG_75
0,US0079031078,2010,26.628,140.384,286.840,6494.000000,US0079031078,Semiconductors,25.717893,0.836169,7.411292,33.869677
1,US0326541051,2010,34.933,96.687,14.211,2761.503000,US0326541051,Semiconductors,47.662450,0.836169,7.411292,33.869677
2,US0382221051,2010,42.172,133.960,36.863,9549.000000,US0382221051,Semiconductors,18.445073,0.836169,7.411292,33.869677
3,US11135F1012,2010,110.810,156.699,10.771,2093.000000,US11135F1012,Semiconductors,127.811276,0.836169,7.411292,33.869677
4,US29355A1079,2010,0.005,9.199,14.247,61.661000,US29355A1079,Semiconductors,149.267771,0.836169,7.411292,33.869677
...,...,...,...,...,...,...,...,...,...,...,...,...
7723,NO0012916131,2023,0.016,0.066,9.068,1089.491000,NO0012916131,Software and Tech Services,0.075265,0.255928,2.110228,21.872761
7724,US00676P1075,2023,8.514,3.846,2.522,388.788000,US00676P1075,Software and Tech Services,31.791105,0.255928,2.110228,21.872761
7725,IT0005433740,2023,1.665,1.107,0.909,91.023833,IT0005433740,Software and Tech Services,30.453563,0.255928,2.110228,21.872761
7726,CNE0000001Y0,2023,7.336,6.103,2.842,2858.122182,CNE0000001Y0,Software and Tech Services,4.702038,0.255928,2.110228,21.872761
7727,SGXZ19450089,2023,3.973,7.156,1.401,3507.067000,SGXZ19450089,Software and Tech Services,3.173307,0.255928,2.110228,21.872761

In [22]:
hist_scope = hist_scope.drop(columns=['ISIN', 'Sum_EG'])
hist_scope

,Isin,Year,EG017,EG018,EG030,IS010,Industry,Sum_EG_25,Sum_EG_50,Sum_EG_75
0,US0079031078,2010,26.628,140.384,286.840,6494.000000,Semiconductors,0.836169,7.411292,33.869677
1,US0326541051,2010,34.933,96.687,14.211,2761.503000,Semiconductors,0.836169,7.411292,33.869677
2,US0382221051,2010,42.172,133.960,36.863,9549.000000,Semiconductors,0.836169,7.411292,33.869677
3,US11135F1012,2010,110.810,156.699,10.771,2093.000000,Semiconductors,0.836169,7.411292,33.869677
4,US29355A1079,2010,0.005,9.199,14.247,61.661000,Semiconductors,0.836169,7.411292,33.869677
...,...,...,...,...,...,...,...,...,...,...
7723,NO0012916131,2023,0.016,0.066,9.068,1089.491000,Software and Tech Services,0.255928,2.110228,21.872761
7724,US00676P1075,2023,8.514,3.846,2.522,388.788000,Software and Tech Services,0.255928,2.110228,21.872761
7725,IT0005433740,2023,1.665,1.107,0.909,91.023833,Software and Tech Services,0.255928,2.110228,21.872761
7726,CNE0000001Y0,2023,7.336,6.103,2.842,2858.122182,Software and Tech Services,0.255928,2.110228,21.872761
7727,SGXZ19450089,2023,3.973,7.156,1.401,3507.067000,Software and Tech Services,0.255928,2.110228,21.872761

In [23]:
filtered_merged_data = merged_data[merged_data['ES644'] != 'No data']

# Convertir columnas relevantes a numÃ©ricas
filtered_merged_data['ES644'] = filtered_merged_data['ES644'].astype(float)

# FunciÃ³n para calcular la variaciÃ³n en 2022 respecto al aÃ±o indicado en ES644 (en porcentaje por cada 100)
def calculate_variation(row, hist_scope):
    isin = row['ISIN']
    target_year = int(row['ES644'])
    
    # Filtrar hist_scope para el ISIN y los aÃ±os relevantes
    hist_scope_isin = hist_scope[hist_scope['Isin'] == isin]
    hist_scope_2022 = hist_scope_isin[hist_scope_isin['Year'] == 2022]
    hist_scope_target_year = hist_scope_isin[hist_scope_isin['Year'] == target_year]
    
    if not hist_scope_target_year.empty and not hist_scope_2022.empty:
        sum_target_year = hist_scope_target_year['EG017'].values[0] + hist_scope_target_year['EG018'].values[0]
        sum_2022 = hist_scope_2022['EG017'].values[0] + hist_scope_2022['EG018'].values[0]
        return ((sum_2022 - sum_target_year) / sum_target_year) * 100 if sum_target_year != 0 else None
    else:
        return None

# Aplicar la funciÃ³n a cada fila del dataframe filtrado
filtered_merged_data['Variation_2022'] = filtered_merged_data.apply(calculate_variation, axis=1, hist_scope=hist_scope)

filtered_merged_data

C:\Users\Veronica\AppData\Local\Temp\ipykernel_56396\1417246565.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_merged_data['ES644'] = filtered_merged_data['ES644'].astype(float)
C:\Users\Veronica\AppData\Local\Temp\ipykernel_56396\1417246565.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_merged_data['Variation_2022'] = filtered_merged_data.apply(calculate_variation, axis=1, hist_scope=hist_scope)

,ISIN,Name,Mkt,Industry,Year,ES643,IS010,ES644,ES645,ES646,Variation_2022
2,US0079031078,ADV MICRO DEVICE,"241,546,435,400.00",Semiconductors,2023,50.0,22680.000,2020.0,0.061754,2030.0,-24.244583
7,JP3122400009,ADVANTEST CORP,"25,184,853,120.00",Semiconductors,2023,60.0,486507.000,2018.0,0.038131,2030.0,-28.742174
8,DE000A0WMPJ6,AIXTRON SE,"2,320,657,495.20",Semiconductors,2023,90.0,629.879,2019.0,0.007411,2025.0,26.124567
19,AT0000A18XM4,AMS-OSRAM AG,"1,335,355,852.09",Semiconductors,2023,100.0,3590.000,2021.0,0.3083,2030.0,-3.989620
21,US0326541051,ANALOG DEVICES,"108,535,098,000.00",Semiconductors,2023,50.0,12305.539,2019.0,0.34992,2030.0,102.548740
...,...,...,...,...,...,...,...,...,...,...,...
436,JP3712500002,NSW INC,"2,901,718,501,915",Software and Tech Services,2023,50.0,50299.000,2013.0,0.01424,2030.0,85.290629
452,SA0007879543,SAUDI TELECOM CO,"461,806,294,947,231",Software and Tech Services,2023,50.0,72336.611,2019.0,0.323388,2027.0,3.786886
473,JP3765250000,HIMACS LTD,"1,013,860,091,529",Software and Tech Services,2023,42.0,17357.000,2020.0,0.00012789,2030.0,-36.597938
501,JP3201900002,ORO CO LTD,"2,468,291,771,738",Software and Tech Services,2023,50.0,7033.155,2021.0,0.000242,2030.0,11.570248
527,JP3346170008,COMPUTER INSTITU,"1,813,458,485,103",Software and Tech Services,2023,46.0,22859.362,2018.0,0.0003263,2030.0,-11.333333

In [24]:
filtered_merged_data

,ISIN,Name,Mkt,Industry,Year,ES643,IS010,ES644,ES645,ES646,Variation_2022
2,US0079031078,ADV MICRO DEVICE,"241,546,435,400.00",Semiconductors,2023,50.0,22680.000,2020.0,0.061754,2030.0,-24.244583
7,JP3122400009,ADVANTEST CORP,"25,184,853,120.00",Semiconductors,2023,60.0,486507.000,2018.0,0.038131,2030.0,-28.742174
8,DE000A0WMPJ6,AIXTRON SE,"2,320,657,495.20",Semiconductors,2023,90.0,629.879,2019.0,0.007411,2025.0,26.124567
19,AT0000A18XM4,AMS-OSRAM AG,"1,335,355,852.09",Semiconductors,2023,100.0,3590.000,2021.0,0.3083,2030.0,-3.989620
21,US0326541051,ANALOG DEVICES,"108,535,098,000.00",Semiconductors,2023,50.0,12305.539,2019.0,0.34992,2030.0,102.548740
...,...,...,...,...,...,...,...,...,...,...,...
436,JP3712500002,NSW INC,"2,901,718,501,915",Software and Tech Services,2023,50.0,50299.000,2013.0,0.01424,2030.0,85.290629
452,SA0007879543,SAUDI TELECOM CO,"461,806,294,947,231",Software and Tech Services,2023,50.0,72336.611,2019.0,0.323388,2027.0,3.786886
473,JP3765250000,HIMACS LTD,"1,013,860,091,529",Software and Tech Services,2023,42.0,17357.000,2020.0,0.00012789,2030.0,-36.597938
501,JP3201900002,ORO CO LTD,"2,468,291,771,738",Software and Tech Services,2023,50.0,7033.155,2021.0,0.000242,2030.0,11.570248
527,JP3346170008,COMPUTER INSTITU,"1,813,458,485,103",Software and Tech Services,2023,46.0,22859.362,2018.0,0.0003263,2030.0,-11.333333

In [25]:
filtered_merged_data.to_csv('../data/filtered_merged_data.csv', index=False)

In [26]:
historical_scope= hist_scope
historical_scope.to_csv('../data/historical_scope.csv', index=False)

In [27]:

historical_score.to_csv('../data/historical_score.csv', index=False)