In [4]:
import pandas as pd
import sqlite3
merged_data=pd.read_csv('../data/merged_data.csv')
enviromental=pd.read_csv('../data/enviromental.csv')
social=pd.read_csv('../data/social.csv')
governance=pd.read_csv('../data/governance.csv')
ESG=pd.read_csv('../data/ESG_score.csv')
historical_scope=pd.read_csv('../data/historical_scope.csv')
historical_score=pd.read_csv('../data/historical_score.csv')
esg_percentage=pd.read_csv('../data/esg_percentage.csv')
projections=pd.read_csv('../data/projections.csv')



merged_data = merged_data.rename(columns={'Mkt Cap': 'Mkt'})

In [5]:
projections

               Isin  Year       yhat
0      US0079031078  2023 -27.366677
1      US0079031078  2024 -33.040643
2      US0079031078  2025 -52.261941
3      US0079031078  2026 -71.995907
4      US0079031078  2027 -92.237518
...             ...   ...        ...
14347  FR0014005DA7  2044  32.163048
14348  FR0014005DA7  2045  33.951397
14349  FR0014005DA7  2046  35.722661
14350  FR0014005DA7  2047  37.474634
14351  FR0014005DA7  2048  36.621856

[14352 rows x 3 columns]

In [6]:
conn = sqlite3.connect('../mi_base_de_datos.db')

def crear_tabla_y_cargar_datos(nombre_tabla, archivo_csv):
    df = pd.read_csv(archivo_csv)
    
    df.to_sql(nombre_tabla, conn, if_exists='replace', index=False)


tablas_archivos = {
    'merged_data': '../data/merged_data.csv',
    'environmental': '../data/enviromental.csv',
    'social': '../data/social.csv',
    'governance': '../data/governance.csv',
    'ESG': '../data/ESG_score.csv',
    'historical_scope': '../data/historical_scope.csv',
    'historical_score':'../data/historical_score.csv',
    'esg_percentage':'../data/esg_percentage.csv',
    'projections':'../data/projections.csv'

}

for nombre_tabla, archivo_csv in tablas_archivos.items():
    crear_tabla_y_cargar_datos(nombre_tabla, archivo_csv)


conn.close()