In [7]:
import pandas as pd
import sqlite3
merged_data=pd.read_csv('../data/merged_data.csv')
enviromental=pd.read_csv('../data/enviromental.csv')
social=pd.read_csv('../data/social.csv')
governance=pd.read_csv('../data/governance.csv')
ESG=pd.read_csv('../data/ESG_score.csv')
historical_scope=pd.read_csv('../data/historical_scope.csv')
historical_score=pd.read_csv('../data/historical_score.csv')
esg_percentage=pd.read_csv('../data/esg_percentage.csv')
projections=pd.read_csv('../data/projections.csv')
filtered_merged_data=pd.read_csv('../data/filtered_merged_data.csv')


merged_data = merged_data.rename(columns={'Mkt Cap': 'Mkt'})
merged_data=merged_data[['ISIN', 'Name', 'Mkt', 'Industry', 'Year', 'ES643','IS010','ES644','ES645','ES646']]
merged_data.to_csv('../data/merged_data.csv', index=False)

In [8]:
merged_data

,ISIN,Name,Mkt,Industry,Year,ES643,IS010,ES644,ES645,ES646
0,CNE100004ZD8,ACM RESEARCH S-A,"4,885,443,926.00",Semiconductors,2023,No data,3888.342742,No data,No data,No data
1,US00108J1097,ACM RESEARCH-A,"1,474,910,952.00",Semiconductors,2023,No data,557.723000,No data,No data,No data
2,US0079031078,ADV MICRO DEVICE,"241,546,435,400.00",Semiconductors,2023,50.0,22680.000000,2020.0,0.061754,2030.0
3,TW0003438008,ADVANCED ANALOG,"98,788,154.60",Semiconductors,2023,No data,879.686000,No data,No data,No data
4,CNE100003MM9,ADVANCED MICRO-A,"11,573,338,720.00",Semiconductors,2023,No data,6263.513581,No data,No data,No data
...,...,...,...,...,...,...,...,...,...,...
547,NO0012916131,TECHSTEP ASA,"282,849,537,686",Software and Tech Services,2023,No data,1089.491000,No data,No data,No data
548,US00676P1075,ADEIA INC,"10,975,436,630,242",Software and Tech Services,2023,No data,388.788000,No data,No data,No data
549,IT0005433740,RELATECH SPA,"1,066,984,215,934",Software and Tech Services,2023,No data,91.023833,No data,No data,No data
550,CNE0000001Y0,CHINA SECURITY-A,"8,756,934,715,607",Software and Tech Services,2023,No data,2858.122182,No data,No data,No data
551,SGXZ19450089,KAROOOOO LTD,"9,383,300,644,438",Software and Tech Services,2023,No data,4205.511000,No data,No data,No data

In [10]:
historical_score

,Isin,Year,SR001,SR002,SR003,SR004,Trend_ESG_SR001,Trend_ENV_SR002,Trend_SOC_SR003,Trend_GOV_SR004
0,US0079031078,2018,6.070000,6.841240,4.237225,7.072087,0.190441,0.230901,0.417430,-0.192367
1,US0326541051,2018,4.530000,4.951659,2.288489,6.702094,0.866660,1.043274,0.214858,0.810937
2,US0382221051,2018,6.900000,6.190029,6.683383,8.140347,0.656745,0.230856,1.174702,0.244051
3,US11135F1012,2018,2.030000,0.000000,1.427484,7.473958,0.660284,1.069467,0.703850,-0.617206
4,US29355A1079,2018,3.070000,0.130538,6.115842,5.971274,-0.749523,0.814302,-4.199872,0.463123
...,...,...,...,...,...,...,...,...,...,...
3307,NO0012916131,2023,4.884967,4.932675,3.435348,6.270973,0.914967,1.743519,0.297694,0.141069
3308,US00676P1075,2023,3.009972,1.260000,0.752634,7.600606,0.629972,0.254923,0.057872,-0.245758
3309,IT0005433740,2023,2.894523,4.619199,1.023712,2.465766,0.764523,0.803481,0.004565,0.191609
3310,CNE0000001Y0,2023,1.717311,0.000000,0.000000,5.724370,0.497311,0.000000,0.000000,-0.205604
3311,SGXZ19450089,2023,1.835741,0.000000,0.152532,5.966604,NaN,NaN,NaN,NaN

In [11]:
conn = sqlite3.connect('../database/mi_base_de_datos.db')

def crear_tabla_y_cargar_datos(nombre_tabla, archivo_csv):
    df = pd.read_csv(archivo_csv)
    
    df.to_sql(nombre_tabla, conn, if_exists='replace', index=False)


tablas_archivos = {
    'merged_data': '../data/merged_data.csv',
    'environmental': '../data/enviromental.csv',
    'social': '../data/social.csv',
    'governance': '../data/governance.csv',
    'ESG': '../data/ESG_score.csv',
    'historical_scope': '../data/historical_scope.csv',
    'historical_score':'../data/historical_score.csv',
    'esg_percentage':'../data/esg_percentage.csv',
    'projections':'../data/projections.csv',
    'filtered_merged_data':'../data/filtered_merged_data.csv'

}

for nombre_tabla, archivo_csv in tablas_archivos.items():
    crear_tabla_y_cargar_datos(nombre_tabla, archivo_csv)


conn.close()